.thumbnail { 
    max-width: 100%; 
    object-fit: cover;
}

img.thumbnail:hover, img.thumbnail:focus {
    border: 1px solid;
    border-color: #428BCA;
}

label {
    color: white;
}

table.dataTable tbody tr {
    background: inherit;
}

.pf,
.pf * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

select {
    background: #353a41;
    border-radius: 25px;
    border: 2px solid #353a41;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input {
    background: #353a41;
    border-radius: 25px;
    border: 2px solid #353a41;
}